@font-face {
  font-family: 'Roboto Mono', monospace;
}

/*

*/

/*===============
Image styles
===============*/

img#logo {
  display: block;
  float: left;
  width: 15%;
  height: 15%;
}

img#seaweed {
  display: block;
  margin: auto;
  width: 83.5em;
  height: 40em;
}

/*===============
List styles
===============*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
  color: #00cc00;
}

li a {
  font-size: 20px;
  display: block;
  float: right;
  color: #00cc00;
  text-align: center;
  padding: 30px 10px;
  text-decoration: none;
}

li a#tryme {
  margin-right: 10em;
}

/*===============
Nav styles
===============*/
nav a:hover:not(.active) {
  border-bottom: 2px solid #0033cc;
  background-color: #E8E8E8;
  border-radius: 10%;
}

nav li:hover(.active) {

}

.active {
background-color:#4CAF50;
}

/*===============
Achor tag styles
===============*/

div a {
  text-decoration: none;
  color: #00cc00;
}

div a:hover {
  color: #0033cc;
  text-decoration: none;
}

/*===============
Body styles
===============*/

body {
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
}

body p {
  margin: 0 10em 30px 10em;
}

/*===============
Section styles
===============*/

section {
  display: block;
}

section h1 {
  text-align: center;
}

section p {
  text-align: center;
}

section#moveDown {
  margin-top: 10em;
}

/*===============
Div styles
===============*/

div {
  float: left;
}

/*===============
Footer styles
===============*/
footer {
  text-align: center;
}

/*
#slides {
    position: relative;
    height: 300px;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing {
    opacity: 1;
    z-index: 2;
}*/
