@font-face {
  font-family: 'Roboto Mono', monospace;
}

/*

*/

/*===============
Image styles
===============*/

img#logo {
  display: block;
  float: left;
  width: 15%;
  height: 15%;
}

img#seaweed {
  display: block;
  margin: auto;
  width: 83.5em;
  height: 40em;
}

img#gas {
  display: block;
  width: 60em;
  height:30em;
}

/*===============
List styles
===============*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
  color: #00cc00;
}

li a {
  font-size: 20px;
  display: block;
  float: right;
  color: #00cc00;
  text-align: center;
  padding: 30px 10px;
  text-decoration: none;
}

li a#tryme {
  margin-right: 6em;
}

/*===============
Nav styles
===============*/
nav a:hover:not(.active) {
  border-bottom: 2px solid #0033cc;
  background-color: #E8E8E8;
  border-radius: 10%;
}

.active {
background-color:#4CAF50;
}

nav {
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0 5px;
}

/*===============
Anchor tag styles
===============*/

div a {
  text-decoration: none;
  color: #00cc00;
}

div a:hover {
  color: #0033cc;
  text-decoration: none;
}

/*===============
Body styles
===============*/

body {
  font-size: 15px;
  font-family: 'Roboto Mono', monospace;
  background-color: #F8F9F9;
}

body p {
  margin: 0 10em 30px 10em;
}

/*===============
Map styles
===============*/

#maps {
  margin: auto;
  width: 600px;
  height: 400px;
}

/*===============
Section styles
===============*/

section {
  display: block;
}

section h1 {
  text-align: center;
}

section p {
  text-align: center;
}

section#moveDown {
  margin-top: 10em;
}

/*===============
Header styles
===============*/

h1#thanksHead {
  margin-left: 18em;
}

form#thanksForm {
  margin-left: 45em;
}

header {
  position: relative; z-index:9999
}

/*===============
Div styles
===============*/

div.slideshow-container {
  margin-top: 10em;
}

div.container {
  float: left;
}

#div1, #div2, #div3 {
  position: absolute;
  margin-top: 5em;
}

#div1 {
  margin-left: 24em;
}

#div2 {
  margin-left: 45em;
}

#div3 {
  margin-top: 7.5em;
  margin-left: 38em;
}

#submitDiv {
  float: left;
  margin-top: 10em;
  margin-left: 40em;
}

#footerSect {
  float: left;
  line-height: 5px;
  border-top: .01px solid black;
}

#footerSect2 {
  float: right;
  line-height: 5px;
  border-top: .01px solid black;
}



/*===============
Footer styles
===============*/
footer {
  text-align: center;
}
